@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.tbg {
    background: #C50B0E !important;
}

.main-wrapper {
    overflow: hidden;
}

.ku-main-slider {
    overflow: hidden;
    width: 100%;
    height: 600px;
    background: red;
    object-fit: fill;
}

.ku-main-slider img {
    object-fit: fill;
    height: inherit;
    width: inherit;
}

.tgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tgroup img {
    border-radius: 10px;
    width: 100px;
    height: 70px;
    margin-bottom: 15px;
    border: 1px solid #dddd;
    box-shadow: 0 0 6px 2px #eee;
}


.dream-team-ranking .card {
    border: 1px solid #c50b0e;
}

.section-top-required {
    margin-top: 50px;
}

.desktop-header {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 29%);
}

.basic-temp-main-content-area {
    background: #F7F9FD;
    border-radius: 10px;
}

.registration-area .form-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #444444;
}

.registration-area input,
.registration-area select{
    border-color: transparent;
}

.registration-area .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    border-color: transparent;
}
button.ku-c-button {
    background: linear-gradient(90deg, #6D0000 0%, #5709FF 100%);
    color: #fff;
    border-radius: 0;
    min-width: 200px;
}
.registration-area button[type="submit"] {
    background: linear-gradient(90deg, #6D0000 0%, #5709FF 100%);
    color: #fff;
}
.registration-area .privacy-policy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.registration-area .ant-upload.ant-upload-select-picture-card {
    width: 200px;
    height: 200px;
}

ul#progressbar {
    width: 450px;
    margin: 20px auto;
}

ul#progressbar li {
    color: #444 !important;
}

ul#progressbar li:before {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    font-size: 16px;
    width: 50px;
    height: 50px;
    background: transparent;
}


#progressbar li:first-child:after {
    width: 50%;
    right: 0;
    left: initial;
}

#progressbar li:last-child:after {
    width: 50%;
    left: 0;
}
ul#progressbar li.active:before {
    background: #5ABE2B !important;
}
ul#progressbar li.active:after {
    background: lightgray;
}
ul#progressbar center::before {
    content: '';
    width: 43px;
    height: 43px;
    position: absolute;
    background: white;
    top: 3px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

ul#progressbar center::after {
    content: "\f00c";
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-family: FontAwesome;
    display: flex;
    background: lightgray;
    justify-content: center;
    align-items: center;
    color: #fff;
}


ul#progressbar li.active center::after {
    background: #5ABE2B;
}



.regi-left {
    padding-right: 70px;
    border-right: 1px solid #ddd;
}

.tournament-item {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    margin-bottom: 26px;
}

.tournament-logo {
    background: #FFFFFF;
    border: 2px solid #DEDEDE;
    box-shadow: 0px 2.08478px 4.16956px rgba(0, 0, 0, 0.134233);
    border-radius: 0px 10px 10px 10px;
    width: 168px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tournament-logo img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: inherit;
}

.tournament-details {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #503191;
    margin-top: 10px
}

.tournament-details p {
    margin: 0;
}


.player-avatar-container {
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 15px;
}

.player-avater {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #A5A9B5;
}

.player-avater img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.player-flag {
    position: absolute;
    bottom: -12px;
    width: 35px;
    height: 22px;
    overflow: hidden;
    background: #ddd;
    z-index: 111;
    left: 50%;
    transform: translateX(-50%);
}

.player-flag img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.player-details .player-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: #124800;
}

.player-specification {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #124800;
}

.build-player-list label {display: inline-flex;flex-direction: column;justify-content: center;align-items: center;}

.build-player-list-single-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px
}

.build-player-list {
    margin-bottom: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.build-player-checkbox:checked + .player-avatar-container .player-avater::after {
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    color: #fff;
    font-size: 36px;
    background: rgba(255,0,0,0.5);
    width: 100%;
    height: 100%;

    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-team-area h4 {
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 76px;
    text-align: center;
    color: #C50B0E;
}

.welcome-team-area p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.tournament-list ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.tournament-list ul li {
    margin-bottom: 5px;
    padding: 10px 20px;
    background: #EDEDED;
    box-shadow: 0px 4px 100px rgba(202, 202, 202, 0.2);
    border-radius: 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
    position: relative;
    cursor: pointer;
}
.tournament-list ul li.selected {
    background: #C50B0E;
    box-shadow: 0px 4px 100px rgba(202, 202, 202, 0.2);
    border-radius: 1px;
    color: #fff;
}
.tournament-list ul li.selected::after {
    content: '';
    position: absolute;
    right: -10px;
    width: 20px;
    height: 20px;
    background: #C50B0E;
    transform: rotate(45deg);
}
.ku-card-header {
    background: rgba(197, 11, 14, 0.14) !important;
    box-shadow: 0px 4px 100px rgba(202, 202, 202, 0.2)  !important;
    border-radius: 1px !important;
}
span.ku-card-header {
    background: rgba(197, 11, 14, 0.14);
    box-shadow: 0px 4px 100px rgba(202, 202, 202, 0.2);
    border-radius: 1px;
}
span.ku-card-header input {
    background: transparent;
}


.tournament-player-rank ul {
    padding: 0;
}


li.rank-heading {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    align-items: center;
}
li.rank-heading:first-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #444444;
}

li.rank-heading:first-child .player-rank-team-title {
    padding-left: 75px
}

.player-rank-position-title, .player-rank-position-content {
    text-align: center;
    width: 100px;

}

.player-rank-team-title, .player-rank-team-content {
    flex-grow: 1;
    text-align: left;
    width: 400px;

}


.player-rank-point-title, .player-rank-point-content {
    flex-grow: 1;
    text-align: center;
    width: 100px;
}

.rank-c {
    padding: 9px 20px;
}

.crown-gif {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.crown-gif img {
    width: 100%;
}

.player-rank-team-content {
    display: flex;
    align-items: center;
}

li.rank-content .rank-c {
    padding: 5px 20px;
}

.game-tournament-area .tournament-logo {
    width: 90px;
    height: 55px;
}

.game-tournament-heading {
    background: #326BFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;font-size: 18px;
    line-height: 12px;
    color: #FFFFFF;
    padding: 20px;
    margin: -25px -22px 15px -23px;
}
.game-tournament-heading.inactive {
    background: #2B4DA5;
}
.upcoming-tournaments {
    position: relative;
}
.upcoming-tournaments:before {
    position: absolute;
    left: -23px;
    content: '';
    height: calc(100% + 28px);
    width: 1px;
    background: #A5A9B5;
}

.login-area input, .login-area span {
    border: none;
}

.address {
    background: #36384D;
    border-radius: 10px;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -120px;
}

.adl, .adr {
    display: flex;
    align-items: center;
}

.adl .icon, .adr .icon {
    margin-right: 15px;
}

.adl {
    position: relative;
}

.adl:after {
    position: absolute;
    content: '';
    height: 126%;
    width: 1px;
    right: -135px;
    background: #fff;
}

.team-view-area .build-player-list-single-item {
    justify-content: flex-start;
}

.team-view-area {
    overflow-x: hidden;
    border: 1px solid #ddd;
}

.team-view-bottom-area {
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
}

.team-view-area .player-avatar-container {
    width: 70px;
    height: 70px;
    position: relative;
    margin-bottom: 15px;
}

.team-view-area .tournament-player-rank ul {
    margin-bottom: 0;
}

.team-view-area .build-player-list {
    cursor: pointer;
    width: 142px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 150px;
    margin: 0;
}


.team-view-area .build-player-list-single-item {
    margin: 0;
}

.ad-block-off-request {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-block-off-request div {
    background: #000000;
    min-height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    min-width: 250px;
    justify-content: center;
    padding: 20px;
}


.ad-block-off-request div h1 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 24px;
}