/* the slides */
.fixture-full-container .slick-slide {
  margin: 0 5px;
}

/* the parent */
.fixture-full-container .slick-list {
  margin: 0 10px;
}

.fixture-full-container .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #c50b0e;
}

.fixture-full-container .nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: #c50b0e;
  background: rgba(197, 11, 14, 0.12);
  border: 0.5px solid #c50b0e;
  border-radius: 3px;
}

.fixture-full-container .nav-item {
  margin-right: 10px;
}

.fixture-full-container ul.nav.nav-pills {
  margin-bottom: 25px;
}

/* .fixture-full-container .prev,
.fixture-full-container .next {
  position: absolute;
  top: 50%;
  background: #fff;
  width: 50px;
  height: 50px;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  font-size: 50px;
  color: #ddd;
} */
/* 
.fixture-full-container .next {
  right: -60px;
}

.fixture-full-container .prev {
  left: -60px;
} */

.fixture-full-container .slick-track {
  width: 100000000px !important;
}

.fixture-full-container .nav-item button {
  padding: 5px 10px;
  font-size: 11px;
}

.fixture-full-container h4.fx-title {
  margin: 6px 10px 0px 0px;
  font-size: 18px;
  float: left;
}

#swiper-color .swiper-button-next {
  width: 50px;
  height: 50px;
  z-index: 999999999;
  font-size: 50px;
  color: #ddd;
}

#swiper-color .swiper-button-prev {
  width: 50px;
  height: 50px;
  z-index: 999999999;
  font-size: 100px;
  color: #ddd;
}

/* @media only screen and (min-width: 993px) and (max-width: 767px) {
  .image-swiper-button-next .anticon {
    margin-left: 58rem !important;
  }
} */

@media only screen and (max-width: 768px) {
  .image-swiper-button-prev,
  .image-swiper-button-next {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .image-swiper-button-next .anticon {
    margin-left: 45rem !important;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1199px) {
  .image-swiper-button-next .anticon {
    margin-left: 58rem !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .image-swiper-button-next .anticon {
    margin-left: 70rem !important;
  }

}

.nav {
  display: flex;
  align-items: center;
}

.nav-item .disabled {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.fixture-full-container {
  position: relative;
}

.fixture-full-container::before {
  position: absolute;
  top: 18%;
  left: -100%;
  content: "";
  height: 1px;
  width: 300%;
  background: #acacac;
}
@media only screen and (max-width: 600px) {
  .fixture-full-container::before {
    top: 15% !important;
  }
}


.fixture-full-container .nav-pills {
  flex-wrap: nowrap;
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  .fixture-full-container .nav-item .nav-link {
    min-width: 110px;
  }
}

.fixture-full-container .nav-pills {
  flex-wrap: nowrap;
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  .fixture-full-container .nav-item .nav-link {
    min-width: 110px;
  }
}
